<!DOCTYPE html>
<html>
  <body>
    <h2>Form</h2>
    <form action="/action_page.php">
      <fieldset>
        <label class="a1">District name&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <input type="text" id="district" name="fname" /><br /><br />
        <label class="a1"
          >Area(sq.mt)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <input type="text" id="area" name="lname" /><br /><br />
        <label class="a1"
          >Population&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
        >
        <input type="email" id="population" name="email" /><br /><br />
        <br /><br />

        <button class="button">SAVE</button> <br /><br />

        <fieldset class="box1">
          <label id="biggestDistrict"
            >Biggest District(Area wise)&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />&nbsp;
            <input name="group1" type="radio" class="test1" />
            <label for="test1">&nbsp;Chennai</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="group1" type="radio" class="test1" />
            <label for="test1" class="coimbatore">&nbsp;Coimbatore</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="group1" type="radio" class="test1" />
            <label for="test1">&nbsp;Salem</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </fieldset>
        <br /><br />

        <fieldset class="box1">
          <label id="populatedDistrict"
            >Highly populated District&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />&nbsp;

            <input name="group1" type="radio" class="test1" />

            <label for="test1">&nbsp;Chennai</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input name="group1" type="radio" class="test1" />

            <label for="test1" class="coimbatore">&nbsp;Coimbatore</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input name="group1" type="radio" class="test1" />

            <label for="test1">&nbsp;Salem</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </fieldset>
      </fieldset>
    </form>
  </body>
</html>
